#app-container-id{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#mode-id{
  font-size: 1.5rem;
  font-family: Monospace;
  padding-bottom: 0;
  margin-bottom: 0;
}

#timer-id{
  font-size: 5rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

button-container-id{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px;
  margin-top: 5px;
}

button{
  font-size: 1.5rem;
  background-color: #f5f5f5;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
}

button:active{
  transform: scale(0.90);
  box-shadow: inset 2px 2px 1px black;
}