:root {
  --bg-color: #f0f0f5;
  --text-color: #1e1e24;
  --primary-color: #f5f5f5;
  --header-bg: #ffffff;
  --border-color: #d1d1d1;
}

body.dark {
  --bg-color: #1e1e24;
  --text-color: #f0f0f5;
  --primary-color: #5d9cec;
  --header-bg: #2a2a35;
  --border-color: #3f3f4a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#app-container-id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#mode-id {
  font-size: 1.5rem;
  font-family: Monospace;
  padding-bottom: 0;
  margin-bottom: 0;
}

#timer-id {
  font-size: 5rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

#button-container-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px;
  margin-top: 5px;
}

button {
  font-size: 1.5rem;
  background-color: #f5f5f5;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
  margin: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

button:active {
  transform: scale(0.9);
  box-shadow: inset 2px 2px 1px var(--text-color);
  color: var(--text-color);
}

.set-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  background: var(--header-bg);
  z-index: 1;
  box-shadow: 2px 2px 1px black;
  border-radius: 5px;
}

.hide {
  display: none;
}

